<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<h1>Invalid login or password!</h1>
<p>
    Go to <a href="/login">login page</a>, if you already registered
    or go to <a href = "/signup">sign up page</a>, if you are not.
</p>
</body>
</html>