<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <h1 th:text="${'Welcome ' + name}">Name</h1>
        <form action="#" th:action="@{/logout}" method="POST">
            <button id = "logoutButton" type="submit" class="btn btn-secondary float-right" >Logout</button>
        </form>
    </div>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes">Notes</a>
                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials">Credentials</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form action="#" th:action="@{/file/upload}" enctype="multipart/form-data" method="POST">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="fileUpload">Upload a New File:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-dark">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                <h2 th:text="${fileSize}">file number</h2>
                <div class="table-responsive">
                    <table class="table table-striped" id="fileTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 80%" scope="col">File Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="file : ${files}">
                            <td>
                                <a target="_blank" class="btn btn-success" th:href="@{/file/{fileName}(fileName = ${file.fileName})}">View</a>
                                <a  class="btn btn-danger" th:href="@{/file/delete/{fileName}(fileName = ${file.fileName})}">Delete</a>
                            </td>
                            <th scope="row" th:text="${file.fileName}">ExampleFile.txt</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                <button id="add-note" style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()">
                    + Add a New Note
                </button>
                <h2 id="note-size" th:text="${noteSize}">note number</h2>
                <div class="table-responsive">
                    <table class="table table-striped" id="userTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 20%" scope="col">Title</th>
                            <th style="width: 60%" scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="note : ${notes}">
                            <td>
                                <button id="edit-note" type="button" class="btn btn-success" th:attr="data-id=${note.noteId},
                                data-title=${note.noteTitle},data-description=${note.noteDescription}" onclick="showNoteModal
                                (this.getAttribute('data-id'),this.getAttribute('data-title'),this.getAttribute('data-description'))">Edit/View</button>
                                <a id="delete-note" class="btn btn-danger" th:href="@{/note/delete/{noteId}(noteId = ${note.noteId})}">Delete</a>
                            </td>
                            <th  id="notetitle" scope="row" th:text="${note.noteTitle}">Example Title</th>
                            <td id="notedescription" th:text="${note.noteDescription}">Example Description </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" th:object="${noteForm}" th:action="@{/note/add}" method="POST">
                                    <input type="hidden" name="noteId" id="note-id">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Title</label>
                                        <input type="text" name= "noteTitle" class="form-control" id="note-title" maxlength="20" required th:field="*{noteTitle}">
                                    </div>
                                    <div class="form-group">
                                        <label for="note-description" class="col-form-label">Description</label>
                                        <textarea class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required th:field="*{noteDescription}"></textarea>
                                    </div>
                                    <button id="noteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="note-model-close">Close</button>
                                <button type="button" class="btn btn-primary" id="note-modal-submit" onclick="$('#noteSubmit').click();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                <button id="add-credential" style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                    + Add a New Credential
                </button>
                <h2 th:text="${credentialSize}">credential number</h2>
                <div class="table-responsive">

                    <table class="table table-striped" id="credentialTable">
                        <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 35%" scope="col">URL</th>
                            <th style="width: 20%" scope="col">Username</th>
                            <th style="width: 25%" scope="col">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cred : ${credentials}">
                            <td>
                                <button id="edit-credential"  type="button" class="btn btn-success edit-cr-button" th:attr="data-id=${cred.credentialId},data-url=${cred.url},data-userName=${cred.userName},data-password=${encryptService.decryptValue(cred.password,cred.key)}" onclick="showCredentialModal(this.getAttribute('data-id'),this.getAttribute('data-url'),this.getAttribute('data-userName'),this.getAttribute('data-password'))">Edit/View</button>
                                <a class="btn btn-danger" id="delete-credential" th:href="@{/credential/delete/{credentialId}(credentialId = ${cred.credentialId})}">Delete</a>
                            </td>
                            <th id="credUrl" scope="row" th:text="${cred.url}">Example URL</th>
                            <td id="credUsername" th:text="${cred.userName}">Example Username</td>
                            <td id="credPassword" th:text="${cred.password}">Example Password</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                <button type="button" id="close-button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" th:object="${credentialForm}" th:action="@{credential/add}" method="POST">
                                    <input type="hidden" name="credentialId" id="credential-id">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">URL</label>
                                        <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required th:field="*{url}">
                                    </div>
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Username</label>
                                        <input type="text" name= "userName" class="form-control" id="credential-userName" maxlength="30" required th:field="*{userName}">
                                    </div>
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Password</label>
                                        <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required th:field="*{password}">
                                    </div>
                                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="credential-modal-close">Close</button>
                                <button type="button" class="btn btn-primary" id="credential-modal-submit" onclick="$('#credentialSubmit').click();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!--For opening the note modal-->
<script type="text/javascript">
    // For opening the note modal
    function showNoteModal(noteId, noteTitle, noteDescription) {
        $('#note-id').val(noteId ? noteId : '');
        $('#note-title').val(noteTitle ? noteTitle : '');
        $('#note-description').val(noteDescription ? noteDescription : '');
        $('#noteModal').modal('show');
    }

    // For opening the credentials modal
    function showCredentialModal(credentialId, url, userName, password) {
        $('#credential-id').val(credentialId ? credentialId : '');
        $('#credential-url').val(url ? url : '');
        $('#credential-userName').val(userName ? userName : '');
        $('#credential-password').val(password ? password : '');
        $('#credentialModal').modal('show');
    }
</script>
</body>
</html>